!!! 5

%html.no-js{:lang => "en"}

  %head

    -# ==========================================================================
    -# Head
    -# ==========================================================================

    %meta{:charset => "utf-8"}

    %title Olivera Web
    %meta{:name => "description", :content => "Hey there! We’re Olivera Web. We design, build, and host fantastic websites and web apps."}
    -# %meta{:name => "keywords", :content => ""}
    -# %meta{:name => "author", :content => ""}

    -# Mobile
    -# ==========================================================================

    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

    -# Favicon
    -# ==========================================================================

    %link{:href => "/images/favicon.ico", :rel => "shortcut icon"}

    -# CSS
    -# ==========================================================================

    %link{:rel => "stylesheet", :href => "//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic"}
    %link{:rel => "stylesheet", :href => "css/styles.css"}
    %link{:rel => "stylesheet", :href => "vendor-old/bootstrap-modal/css/bootstrap-modal.css"}

    -# IE Fixes
    -# ==========================================================================

    -#
    -# Use HTML5 Shim polyfill if not using Modernizr
    -# Compiled IE stylesheets for legacy IE "Mobile first" support (using SASS)
    -# nicolasgallagher.com/mobile-first-css-sass-and-ie/
    -#

    /[if (lt IE 9) & (!IEMobile)]
      %script{:src => "//html5shim.googlecode.com/svn/trunk/html5.js"}

    :javascript
      document.getElementsByTagName("html")[0].className = document.getElementsByTagName("html")[0].className.replace("no-js","js");

  %body

    -# ==========================================================================
    -# Content
    -# ==========================================================================

    .container

      .main
        .content
          .logo
            %h1 Olivera Web
            %h2 the latest in web development

          %p Hey there! We’re <span>Olivera Web</span>. Pleased to meet you.

          %p We <span>design</span>, <span>build</span>, and <span>host</span> fantastic websites and web apps.

          %p You can view our <a href="http://www.behance.net/stuartolivera">portfolio of work</a> and <a href="#hosting">hosting offers</a>,  or <a href="#contact">contact us</a>.

    #bg-main
      %br/

    #bg-overlay
      %br/

    #hosting-modal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h3#myModalLabel Hosting
      .modal-body
        %p Hosting by Olivera Web provides you with reliable, high quality hosting at unbeatable prices.

        %p Standard plans (HTML, PHP, MySQL, WordPress, etc) start as low as $5/month, however we can happily build a custom plan to fit your needs.

        %p
          %i Yearly subscriptions also receive a 16% discount!

        %p
          %strong Interested? Sign up below:

        %form#hostingForm.form-horizontal{:action => "contact.php", :method => "post"}
          .form_user
            %label{:for => "username"} Username
            %input{:type => "text", :name=> "username"}
          .control-group
            %label.control-label{:for => "hostingName"} Name
            .controls
              %input#hostingName{:type => "text", :name => "name", :placeholder => "Name"}
          .control-group
            %label.control-label{:for => "hostingEmail"} Email
            .controls
              %input#hostingEmail{:type => "text", :name => "email", :placeholder => "Email"}
          .control-group
            %label.control-label{:for => "hostingType"} Hosting Type
            .controls
              %select#hostingType{:name => "subject"}
                %option Please choose...
                %option{:value => "Standard Hosting"} Standard Hosting
                %option{:value => "Custom Hosting"} Custom Hosting
          .control-group
            %label.control-label{:for => "hostingComments"} Comments
            .controls
              %textarea#hostingName{:name => "comments", :placeholder => "Comments", :rows => "7"}
          .form-actions
            %button.btn.btn-primary{:type => "submit"} Sign Up


    #contact-modal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h3#myModalLabel Contact
      .modal-body
        %form#contactForm.form-horizontal{:action => "contact.php", :method => "post"}
          .form_user
            %label{:for => "username"} Username
            %input{:type => "text", :name=> "username"}
          .control-group
            %label.control-label{:for => "contactName"} Name
            .controls
              %input#contactName{:type => "text", :name => "name", :placeholder => "Name"}
          .control-group
            %label.control-label{:for => "contactEmail"} Email
            .controls
              %input#contactEmail{:type => "text", :name => "email", :placeholder => "Email"}
          .control-group
            %label.control-label{:for => "contactSubject"} Subject
            .controls
              %select#contactSubject{:name => "subject"}
                %option Please choose...
                %option{:value => "Requesting Services"} Requesting Services
                %option{:value => "Requesting Support"} Requesting Support
                %option{:value => "I Have A Question"} I Have A Question
                %option{:value => "Just Want To Chat"} Just Want To Chat
                %option{:value => "Other"} Other
          .control-group
            %label.control-label{:for => "contactComments"} Comments
            .controls
              %textarea#contactName{:name => "comments", :placeholder => "Comments", :rows => "7"}
          .form-actions
            %button.btn.btn-primary{:type => "submit"} Send


    -# JS
    -# ==========================================================================

    -# jQuery

    %script{:src => "//code.jquery.com/jquery-1.10.2.min.js"}
    :javascript
      window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')

    -# Custom JS

    %script{:src => "js/bootstrap-transition.js"}
    %script{:src => "js/bootstrap-modal.js"}
    %script{:src => "vendor-old/javascripts/jquery.form.min.js"}
    %script{:src => "vendor-old/bootstrap-modal/js/bootstrap-modal.js"}
    %script{:src => "vendor-old/bootstrap-modal/js/bootstrap-modalmanager.js"}
    %script{:src => "js/app.js"}


    :javascript
      var _gaq=[['_setAccount','UA-5314102-14'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
